@media (min-width: 800px) {
  .Main {
    margin-top: 50px;
  }
}

@media (max-width: 799px) {
}

.Main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
