@media (min-width: 800px) {
  .Main {
    margin-top: 50px;
  }
}

@media (max-width: 799px) {
}

.Main {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

form h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
}

form label {
  font-size: 1em;
  font-weight: 200;
}

form input {
  width: 280px;
  font-size: 1em;
  padding: 5px 5px;
  border: 1px solid var(--highlight-color);
  border-radius: 0px 20px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

form textarea {
  margin: 0 0 10px 0;
  font-size: 1em;
  padding: 5px 5px;
  border: 1px solid var(--highlight-color);
  border-radius: 0px 20px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

form .messages p {
  color: var(--error-color);
  font-weight: 600;
  font-size: 0.8em;
}

form button {
  font-size: 1.5em;
  border: none;
  align-self: flex-end;
  color: var(--background-color);
  padding: 5px 10px;
  background-color: var(--highlight-color);
  transition: background-color 0.2s;
  font-weight: 400;
}

form button:hover {
  background-color: var(--darker-background-color);
  cursor: pointer;
}
