@media (min-width: 800px) {
  .CreatePost textarea {
    width: 600px;
    height: 480px;
  }

  .CreatePost input {
    width: 600px;
  }

  .CreatePost form {
    max-width: 610px;
  }
}

@media (max-width: 799px) {
  .CreatePost textarea {
    width: 290px;
    height: 280px;
  }

  .CreatePost input {
    width: 290px;
  }

  .CreatePost form {
    max-width: 300px;
  }
}

.CreatePost textarea {
  resize: none;
}

.deleteBtn {
  border-radius: 5px;
  width: 120px;
  margin-top: 50px;
  font-size: 1em;
  border: none;
  color: var(--background-color);
  padding: 10px 5px;
  background-color: rgb(204, 173, 173);
  transition: background-color 0.5s;
  font-weight: 400;
}

.deleteBtn:hover {
  background-color: rgb(191, 68, 68);
  cursor: pointer;
}

.CreatePost {
  margin-top: 25px;
}