.Dashboard .Editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.DashboardMenu {
  background: var(--highlight-color);
  border-radius: 20px;
}

.DashboardMenu ul {
  list-style: none;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.DashboardMenu a {
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}

.DashboardMenu a:hover {
  color: black;
}

.DashboardMenu .active a {
  color: black;
  text-decoration: underline;
}