@media (min-width: 800px) {
  .Header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .Header .SignMenu {
    justify-content: flex-end;
  }
}

@media (max-width: 799px) {
  .Header {
    padding: 5px 0;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .Header h1 {
    text-align: center;
  }

  .Header ul {
    margin: 0;
  }

  .Header .SignMenu {
    justify-content: center;
  }
}

.Header {
  position: fixed;
  width: 100vw;
  background-color: var(--background-color) ;
  display: grid;
  align-items: center;
  padding: 0 20px;
}

.Header h1 {
  margin: 0;
  color: var(--highlight-color);
}

.Header ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Header a {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--text-color);
}

.Header a:hover {
  color: var(--highlight-color);
}

.Header .Menu {
  justify-content: center;
}
