@media (min-width: 800px) {
  .Posts {
    padding: 10px 20px;
  }
}

@media (max-width: 799px) {
  .Posts {
    padding: 0 0 20px 0;
  }
}

.Posts {
  gap: 50px;
  display: flex;
  flex-direction: column;
}