.SignUp h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 200;
 }

 .SignUp label {
  font-size: 1em;
  font-weight: 200;
 }

 .SignUp input {
  width: 280px;
  font-size: 1em;
  padding: 5px 5px;
  border: 1px solid var(--highlight-color);
  border-radius: 0px 20px 0 0 ;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
 }

 .SignUp button {
  font-size: 1.5em;
  border: none;
  align-self: flex-end;
  color: var(--background-color);
  padding: 5px 10px;
  background-color: var(--highlight-color);
  transition: background-color 0.2s;
  font-weight: 400;
}

.SignUp button:hover {
  background-color: var(--darker-background-color);
  cursor: pointer;
}